{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "last 2 versions",
            "safari >= 7"
          ],
          "node": "current"
        },
        "modules": false,
        "debug": true,
        "useBuiltIns": true,
        "include": [],
        "exclude": []
      }
    ]
  ]
  ,
  "plugins": [
    "transform-react-jsx"// 如果是需要支持 jsx 这个东西要单独装一下。
    // , 
    // "transform-runtime"
  ]
}


// {
//   "presets": [
//     [
//       "es2015"
//     ]
//   ],
//   "plugins": [
//     "transform-react-jsx", // 如果是需要支持 jsx 这个东西要单独装一下。
//     "transform-regenerator"
//   ]
// }
